



/*-----------------------------HEADER/NAV-BAR------------ */

.massage-name {
    color:#9d4edd;}

.nav-link{
    color: #9d4edd;

}

#home {
       color: #9d4edd;
}

#about {
       color:#9d4edd;
}

#treatments {
       color:#9d4edd;
}

#contact {
       color:#9d4edd;
}