



/*--------------------------------------HEADERS & NAV-BAR------------ */

.container-fluid{
    position: absolute;
}

.massage-name {
    color:#9d4edd;}


h1 {
    font-family: 'Emilys+Candy', sans-serif;
    font-weight: 900;
    font-style: italic;
}

h2 {
    font-family: 'Emilys+Candy', sans-serif;
    font-weight: 900;
    font-style: italic;
    color:#9d4edd;
    
}

h3{
    font-size: 200%;
    margin-left: 18.75rem;
    margin-bottom: 1.875rem;
    margin-top: 1.875rem;
    letter-spacing: 0.063rem;
    color:#9d4edd;
    text-align: center;
    font-family: 'Emilys+Candy', sans-serif;
    font-style: italic;
    font-weight: 800;
}

h3:after {
    display: block;
    height: 0.125rem; 
    background-color: #9d4edd;
    content: "";
    width: 6.25rem;
    margin: 0 auto;
    margin-top: 1.25rem;
}


h4{
    text-align: center;
    font-style: italic;
}

h5{
    text-align: center;
    color: #5a189a;
    font-family: 'Emilys+Candy', sans-serif;
    font-weight: 400;
}

#home {
       color: #9d4edd;
}

#about {
       color:#9d4edd;
}

#treatments {
       color:#9d4edd;
}

#contact {
       color:#9d4edd;
}

#menu a:hover {
    border-bottom: 0.006rem solid #9d4edd;

}

/*--------------------------------- PARAGRAPHS/LISTS-----*/


p {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: middle;
    margin-top: 1.25rem;

}

ul li {
    align-content: center;

}

/* -----------------------------BACKGROUND/OPENING PAGE-----------*/

#opening-page{
    background-image: url("https://images.pexels.com/photos/3764568/pexels-photo-3764568.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
}



/*------------------------------SUBURBAN MASSAGE/IMAGES/ICONS-----------*/

.display-4{
    padding-top: 6.25rem;
    font-family: 'Emilys+Candy';
    font-style: italic;
    color:#9d4edd;
    margin-left: 28.125rem;
}

.visits{
    text-align: center center;

}

.visits i {
    font-size: 1.563rem;
    color:#9d4edd;
}


.lead {
    padding-top: 5.625rem;
    font-size: 1.563rem;
    font-family: 'Emilys+Candy';
    font-style: italic;
    color: #7b0e8a;
}

/*--------------------------------ABOUT----*/


.card-text{
    text-align: center;
}

/*--------------------------------TESTIMONIALS-----*/


.container-testimonials {
    background-image: url("https://cdn.pixabay.com/photo/2018/09/10/09/32/wellness-3666624_960_720.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    
}

cite {
    padding-top: 20px ;
    align-content: center;
}

blockquote {
    color: #fa88f0e0;
    font-family:'Emilys+Candy', sans-serif;
    font-weight: 700;
    text-align: center;
    font-style: oblique;
    padding-top: 1.875rem;
}

/*--------------------------------CONTACT ME----*/

button[type="submit"] {
    margin-top: 0.938rem;
    margin-bottom: 1.25rem;
    color: #fafafa;
    background-color:#9d4edd ;
}

/*--------------------------------FOOTER---*/

.footer {
  height:150px ;

}

.social-links i {
    color: #9d4edd;
}

.social-links li{
    display: inline;
}