



/*--------------------------------------HEADERS & NAV-BAR------------ */

.container-fluid{
    position: absolute;
}

.massage-name {
    color:#9d4edd;}

.display-4{
    padding-top: 6.25rem;
    font-family: 'Emilys+Candy';
    font-style: italic;
    color: #3c096c;

}

h1 {
    font-family: 'Emilys+Candy', sans-serif;
    font-weight: 900;
    font-style: italic;
}

h2 {
    font-family: 'Emilys+Candy', sans-serif;
    font-weight: 900;
    font-style: italic;
    color:#9d4edd;
    
}

h3{
    font-size: 200%;
    margin-left: 300px;;
    margin-bottom: 1.875rem;
    margin-top: 30px;
    letter-spacing: 0.063rem;
    color:#9d4edd;
    text-align: center;
    font-family: 'Emilys+Candy', sans-serif;
    font-style: italic;
    font-weight: 800;
}

h3:after {
    display: block;
    height: 2px; 
    background-color: #9d4edd;
    content: "";
    width: 100px;
    margin: 0 auto;
    margin-top: 20px;
}


h4{
    text-align: center;
     font-style: italic;
}

h5{
    text-align: center;
}

#home {
       color: #9d4edd;
}

#about {
       color:#9d4edd;
}

#treatments {
       color:#9d4edd;
}

#contact {
       color:#9d4edd;
}

#menu a:hover {
    border-bottom: 0.1px solid #9d4edd;

}

/*--------------------------------- PARAGRAPHS-----*/

p {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: middle;
    margin-top: 20px;

}

ul li {
    align-content: center;

}

/* -----------------------------BACKGROUND/OPENING PAGE-----------*/

#opening-page{
    background-image: url(https://images.unsplash.com/photo-1602498456745-e9503b30470b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2134&q=80);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
}



}

/*------------------------------About Me Image/IMAGES/ICONS-----------*/

.img-thumbnail {
    width: 100px;
    height: 100px;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 50%;

}

.card-group img{
    
}

.visits i {
    font-size: 1.875rem;
}



.lead {
    padding-top: 5.625rem;
    font-size: 25px;
    font-family: 'Emilys+Candy';
    font-style: italic;
    color: #7b0e8a;
}




/*--------------------------------TESTIMONIALS-----*/


.container-testimonials {
    background-image: url("https://cdn.pixabay.com/photo/2018/09/10/09/32/wellness-3666624_960_720.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    
}

cite {
    padding-top: 20px ;
    align-content: center;
}

blockquote {
    color: #fa88f0e0;
    font-family:'Emilys+Candy', sans-serif;
    font-weight: 700;
    text-align: center;
    font-style: oblique;
    padding-top: 1.875rem;
}